.Sider {
	overflow: 'auto';
	height: '100vh';
	position: 'fixed';
	left: 0 ;
}

.Header {
	background: '#fff';
	padding: 0;
}

.Content {
	margin: '24px 16px 0';
	overflow: 'initial';
}

.Footer {
	text-align: 'center';
}
